@model projekbetol.IssueBook

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>IssueBook</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <div class="control-label col-md-2">
            Book Name
        </div> 
      
        <div class="col-md-10">
            @Html.DropDownList("BookId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.BookId, "", new { @class = "text-danger" })
        </div>

    </div>

    <div class="form-group">
        <div class="control-label col-md-2">
            Status
        </div>
        <div class="col-md-10">
            @Html.DropDownList("StatusId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.StatusId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2">
           Date
        </div>
        <div class="col-md-10">
            @Html.TextBox("Date", DateTime.Now.ToShortDateString(), htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2">
           Student Name
        </div>
        <div class="col-md-10">
            @Html.DropDownList("StudentId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.StudentId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
    <br />
    <div class=" col-md-offset-4">

        <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23ccccff&amp;src=s6ataef3e6j3qfu0uq50d8sqsk%40group.calendar.google.com&amp;color=%23182C57&amp;ctz=Asia%2FKuala_Lumpur" style="border-width:0" width="400" height="300" frameborder="0" scrolling="no"></iframe>

    </div>

</div>

@section Scripts {
   
}

    <div>
        <br /><br /><br />
        @Html.ActionLink("Back to List", "Index")

    </div>

    @Scripts.Render("~/bundles/jqueryval")
}
